<mat-dialog-content>
  <h2 mat-dialog-title>Dane rejestracyjne</h2>
  <p>Imię: {{regData.firstName}}</p>
  <p>Nazwisko: {{regData.lastName}}</p>
  <p>Adres email: {{regData.email}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
  <button mat-raised-button color="primary" (click)="accept()">Wyślij</button>
</mat-dialog-actions>
