<mat-toolbar color="primary" class="app-toolbar">
  <span>
    <span>Formularz rejestracyjny</span>
    <button mat-button [matMenuTriggerFor]="settingsMenu">Ustawienia</button>
  </span>
  <button mat-icon-button>
    <mat-icon>attach_file</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <form [formGroup]="customForm">
    <mat-card>
      <h3 mat-card-title>Dane podstawowe</h3>
      <mat-card-content>
        <fieldset>
          <mat-form-field>
            <input matInput type="text" placeholder="Imię" formControlName="firstName">
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field>
            <input matInput type="text" placeholder="Nazwisko" formControlName="lastName">
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-form-field>
            <input matInput type="email" placeholder="Adres email" formControlName="email">
          </mat-form-field>
        </fieldset>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <h3 mat-card-title>Ustawienia planu</h3>
      <mat-card-content>
        <fieldset>
          <mat-radio-group formControlName="variant">
            <mat-radio-button [value]="variants.BASIC">Plan minimum</mat-radio-button>
            <mat-radio-button [value]="variants.STANDARD">Plan standardowy</mat-radio-button>
            <mat-radio-button [value]="variants.PRIME">Plan premium</mat-radio-button>
            <mat-radio-button [value]="variants.VIP">Plan VIP</mat-radio-button>
          </mat-radio-group>
        </fieldset>
        <fieldset>
          <mat-slider min="1" max="12" formControlName="months" thumbLabel tickInterval="1"></mat-slider>
        </fieldset>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <h3 mat-card-title>Dodatkowe informacje</h3>
      <mat-card-content>
        <fieldset>
          <mat-form-field>
            <mat-label>Skąd o nas wiesz?</mat-label>
            <mat-select formControlName="source">
              <mat-option *ngFor="let opt of sources" [value]="opt.value">{{opt.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </fieldset>
        <fieldset>
          <mat-checkbox formControlName="terms">Zgadzam się na warunki licencji aplikacji</mat-checkbox>
        </fieldset>
      </mat-card-content>
    </mat-card>
  </form>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>settings</mat-icon>
        Ustawienia
      </mat-expansion-panel-header>
      <mat-panel-description>
        Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec
        sollicitudin molestie malesuada. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
        Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at
        tellus. Pellentesque in ipsum id orci porta dapibus.
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>print</mat-icon>
        Drukowanie
      </mat-expansion-panel-header>
      <mat-panel-description>
        Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec
        sollicitudin molestie malesuada. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta.
        Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at
        tellus. Pellentesque in ipsum id orci porta dapibus.
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-toolbar class="buttons-toolbar">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="customForm.pristine || customForm.invalid">
      Wyślij
    </button>
    <button mat-button color="warn" (click)="resetForm()">Anuluj</button>
  </mat-toolbar>
</div>
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    Ustawienia
  </button>
  <button mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    Ustawienia zasilania
  </button>
</mat-menu>
