@import "~@angular/material/theming";

.app-toolbar {
  @include mat-elevation(10);
  display: flex;
  justify-content: space-between;
}
.buttons-toolbar {
  margin: 20px 0;
}
mat-card {
  margin-bottom: 20px;
}
