/* You can add global styles to this file, and also import other style files */
fieldset {
  border: none;
  display: flex;
  padding: 0;

  mat-input {
    flex-grow: 1;
  }

  mat-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  display: block;
  width: 900px;
  margin: 0 auto;
  padding-top: 40px;
}
